{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}


<h1>Access Denied</h1>
    <p>You don't have the necessary permissions to access this page.</p>
   
{% endblock %}
